#Directories
.vs/
bin/
build/
CMakeFiles/
Debug/
MinSizeRel/
OpenGL-Showcase.dir
Release/
RelWithDebInfo/
x64/

#Files
**.vcxproj
**.filters
**.sln
**.user
**.cmake
CMakeCache.txt
**.ini
vendor/glfw/src/glfw_config.h
